.errors {
  color: red;
}

.home-mein {
  font-family: 'Ubuntu', sans-serif;
}

.card-img-top{
  position: absolute;
}

.prefs-choice {
  position: relative;
  text-align: center;
  padding-top: 20%;
}

.home-title {
  color: #f7593e;
}